 <!-- Weekly Overview Chart -->
<div class="col-xl-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">Haftalık Kalori Açığı Tablosu</h5>
                <div class="dropdown">
                    <button class="btn text-muted p-0"
                            type="button"
                            id="weeklyOverviewDropdown"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="ri-more-2-line ri-24px"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="card-body pt-lg-2">
            <div id="weeklyOverviewChart"></div>
            <div class="mt-1 mt-md-3">
                <div class="d-flex align-items-center gap-4">
                    <h4 class="mb-0">45%</h4>
                    <p class="mb-0">Your sales performance is 45% 😎 better compared to last month</p>
                </div>
                <div class="d-grid mt-3 mt-md-4">
                    <button class="btn btn-primary" type="button">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Weekly Overview Chart -->