<div class="col-sm-6">
    <div class="card h-100">
        <div class="card-header pb-0">
            <h4 class="mb-0">5 kg</h4>
        </div>
        <div class="card-body">
            <div id="totalProfitLineChart" class="mb-3"></div>
            <h6 class="text-center mb-0">Verilen Toplam Kilo</h6>
        </div>
    </div>
</div>