<!-- New Yearly Project -->
<div class="col-sm-6">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <div class="avatar">
                <div class="avatar-initial bg-primary rounded-circle shadow-xs">
                    <i class="ri-file-word-2-line ri-24px"></i>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn text-muted p-0"
                        type="button"
                        id="newProjectID"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="ri-more-2-line ri-24px"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="newProjectID">
                    <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                    <a class="dropdown-item" href="javascript:void(0);">Share</a>
                    <a class="dropdown-item" href="javascript:void(0);">Update</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h6 class="mb-1">New Project</h6>
            <div class="d-flex flex-wrap mb-1 align-items-center">
                <h4 class="mb-0 me-2">862</h4>
                <p class="text-danger mb-0">-18%</p>
            </div>
            <small>Yearly Project</small>
        </div>
    </div>
</div>
<!--/ New Yearly Project -->