@using HealthAndFinance.WebUI.Models
@model UserSignInViewModel
@{
    Layout = null;
}

<html lang="en"
      class="light-style layout-wide customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free"
      data-style="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Login Basic - Pages | Materio - Bootstrap Material Design Admin Template</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/vendor/fonts/remixicon/remixicon.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/materio-bootstrap-html-admin-template-free/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/materio-bootstrap-html-admin-template-free/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="position-relative">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-6 mx-4">
                <!-- Login -->
                <div class="card p-7">
                    <div class="card-body mt-1">
                        <h4 class="mb-1">Welcome to Materio! 👋🏻</h4>
                        <p class="mb-5">Oturum Aç</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="email mb-2">Kullanıcı Adınız</label>
                                <input type="text" class="form-control" asp-for="@Model.username" id="email mb-2" aria-describeby="emailHelp" placeholder="" required="" />
                            </div>
                            <div class="form-group">
                                <label for="password mb-2">Şifreniz</label>
                                <input type="password" class="form-control" asp-for="@Model.password" id="password mb-2" aria-describeby="passwordHelp" placeholder="" required="" />
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>

                            <p class="text-center mb-5">
                                <span>New on our platform?</span>
                                <a href="/Register/Index/">
                                    <span>Create an account</span>
                                </a>
                            </p>

                        </form>

                        
                    </div>
                </div>
                <!-- /Login -->
                <img src="~/materio-bootstrap-html-admin-template-free/assets/img/illustrations/tree-3.png"
                     alt="auth-tree"
                     class="authentication-image-object-left d-none d-lg-block" />
                <img src="~/materio-bootstrap-html-admin-template-free/assets/img/illustrations/auth-basic-mask-light.png"
                     class="authentication-image d-none d-lg-block"
                     height="172"
                     alt="triangle-bg"
                     data-app-light-img="illustrations/auth-basic-mask-light.png"
                     data-app-dark-img="illustrations/auth-basic-mask-dark.png" />
                <img src="~/materio-bootstrap-html-admin-template-free/assets/img/illustrations/tree.png"
                     alt="auth-tree"
                     class="authentication-image-object-right d-none d-lg-block" />
            </div>
        </div>
    </div>

    <!-- / Content -->
	<!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/js/bootstrap.js"></script>
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/materio-bootstrap-html-admin-template-free/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="~/materio-bootstrap-html-admin-template-free/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag before closing body tag for github widget button. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
